<div class="z-10 py-8 font-mono text-gray-700">
  <div
    class="justify-between items-center lg:flex mx-auto font-normal"
  >
    <a aria-current="page" class="flex items-center hover:underline mb-4 lg:mb-0" href="/">
      <div class="mr-2">
        <p class="flex-no-grow text-xl font-medium px-2 lg:px-0">
          {{ site_header_title }}
        </p>
      </div>
    </a>
    <div class="flex items-center text-sm md:text-base">
      <div class="flex items-center">
        <a aria-current="page" class="px-2 py-1 mr-4 rounded hover:text-black hover:bg-slate-300 text-gray-900"
           href="/">Home</a>
        <a class="px-2 py-1 mr-4 rounded hover:text-black hover:bg-slate-300 text-slate-600"
           href="/#blog">Blog</a>
      </div>
    </div>
  </div>
</div>
